<div class="skeleton w-[324] sm:w-[474px] h-12 rounded-none bg-grey"></div>
<div
  class="w-full py-8 grid gap-6 grid-cols-1 sm:grid-cols-2 min-[950px]:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 min-[1800px]:grid-cols-5 justify-items-center h-full overflow-hidden"
>
<app-product-card-skeleton/>
<app-product-card-skeleton/>
<app-product-card-skeleton/>
<app-product-card-skeleton/>
<app-product-card-skeleton/>
<app-product-card-skeleton/>
<app-product-card-skeleton/>
<app-product-card-skeleton/>
<app-product-card-skeleton/>
</div>
