<section
  class="flex flex-col items-start justify-between gap-4 w-full px-6 py-10"
>
  <p class="text-2xl font-semibold font-rubik text-nowrap">Dashboard</p>
  <div class="flex justify-between gap-10 flex-wrap w-full">
    <app-summary title="Total Orders" [count]="50" />
    <app-summary title="Products Sold" [count]="100" />
    <app-summary title="Revenue" [count]="20000" />
    <!-- <app-summary title="Revenue" [count]="20000" /> -->
  </div>
  <div class="flex gap-4 mt-16">
    <div>
      <h2 class="text-xl font-medium">Recent Orders</h2>
      <div class="flex flex-col gap-6 w-[650px] pt-4">
        <app-dashboard-orders
          [customerName]="'Musa mabasa'"
          [customerAvatar]="
            'https://lh3.googleusercontent.com/a/ACg8ocI2m1AWGtjXMbs3GEtm9CUJXbHsPPL7HGkw0lL5iJLgiesCazjzig=s96-c'
          "
          [orderDate]="'March 12, 2024'"
          [orderTotal]="20000"
        />
        <app-dashboard-orders
          [customerName]="'Musa mabasa'"
          [customerAvatar]="
            'https://lh3.googleusercontent.com/a/ACg8ocI2m1AWGtjXMbs3GEtm9CUJXbHsPPL7HGkw0lL5iJLgiesCazjzig=s96-c'
          "
          [orderDate]="'March 12, 2024'"
          [orderTotal]="20000"
        />
        <app-dashboard-orders
          [customerName]="'Musa mabasa'"
          [customerAvatar]="
            'https://lh3.googleusercontent.com/a/ACg8ocI2m1AWGtjXMbs3GEtm9CUJXbHsPPL7HGkw0lL5iJLgiesCazjzig=s96-c'
          "
          [orderDate]="'March 12, 2024'"
          [orderTotal]="20000"
        />
        <app-dashboard-orders
          [customerName]="'Musa mabasa'"
          [customerAvatar]="
            'https://lh3.googleusercontent.com/a/ACg8ocI2m1AWGtjXMbs3GEtm9CUJXbHsPPL7HGkw0lL5iJLgiesCazjzig=s96-c'
          "
          [orderDate]="'March 12, 2024'"
          [orderTotal]="20000"
        />
      </div>
    </div>
    <div>
      <h2 class="text-xl font-medium">Stock Report</h2>
      <div class="flex flex-col gap-6 w-[650px] pt-4">
        <app-dashboard-orders
          [customerName]="'Musa mabasa'"
          [customerAvatar]="
            'https://lh3.googleusercontent.com/a/ACg8ocI2m1AWGtjXMbs3GEtm9CUJXbHsPPL7HGkw0lL5iJLgiesCazjzig=s96-c'
          "
          [orderDate]="'March 12, 2024'"
          [orderTotal]="20000"
        />
        <app-dashboard-orders
          [customerName]="'Musa mabasa'"
          [customerAvatar]="
            'https://lh3.googleusercontent.com/a/ACg8ocI2m1AWGtjXMbs3GEtm9CUJXbHsPPL7HGkw0lL5iJLgiesCazjzig=s96-c'
          "
          [orderDate]="'March 12, 2024'"
          [orderTotal]="20000"
        />
        <app-dashboard-orders
          [customerName]="'Musa mabasa'"
          [customerAvatar]="
            'https://lh3.googleusercontent.com/a/ACg8ocI2m1AWGtjXMbs3GEtm9CUJXbHsPPL7HGkw0lL5iJLgiesCazjzig=s96-c'
          "
          [orderDate]="'March 12, 2024'"
          [orderTotal]="20000"
        />
        <app-dashboard-orders
          [customerName]="'Musa mabasa'"
          [customerAvatar]="
            'https://lh3.googleusercontent.com/a/ACg8ocI2m1AWGtjXMbs3GEtm9CUJXbHsPPL7HGkw0lL5iJLgiesCazjzig=s96-c'
          "
          [orderDate]="'March 12, 2024'"
          [orderTotal]="20000"
        />
      </div>
    </div>
  </div>
</section>
