<section
  class="flex flex-col items-start justify-between gap-4 w-full px-6 py-10"
>
  <p class="text-2xl font-semibold font-rubik text-nowrap">Dashboard</p>
  @if(loadingState$ | async) {
  <app-dashboard-skeleton class="w-full" />
  }@else {
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-10 w-full">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-10 w-full xl:col-span-2"
    >
      <app-summary
        class="grow"
        title="Products Sold"
        [count]="(productsSold$ | async) ?? 0"
        [increase]="(soldIncrease$ | async) ?? 0"
      />
      <app-summary
        class="grow"
        title="Revenue"
        [count]="(revenue$ | async) ?? 0"
        [increase]="(revenueIncrease$ | async) ?? 0"
      />
      <app-summary
        class="grow"
        title="Total Customers"
        [count]="(totalCustomers$ | async) ?? 0"
        [increase]="(totalCustomersIncrease$ | async) ?? 0"
      />
      <app-summary
        class="grow"
        title="Total Quantity"
        [count]="(totalQuantity$ | async) ?? 0"
        [decrease]="(totalQuantityDecrease$ | async) ?? 0"
      />
    </div>
    <app-sales-chart />
    <div class="bg-edit-input-color p-6 rounded-3xl h-96 shadow-lg">
      <div class="flex items-center gap-2">
        <h2 class="text-xl font-medium">Stock Report</h2>
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-circle btn-ghost btn-xs text-info"
          >
            <svg
              tabindex="0"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="size-fit stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </div>
          <div
            tabindex="0"
            class="card compact dropdown-content z-[1] shadow bg-white rounded-box w-64"
          >
            <div tabindex="0" class="card-body">
              <h2 class="card-title">You needed more info?</h2>
              <p>Check out what you have left in your store!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 pt-4 w-full h-full overflow-scroll mb-2">
        @for(item of (stockReport$ | async); track item.product.id){

        <app-stock-item
          [productName]="item.product.name"
          [quantity]="item.product.quantity"
          [remaining]="item.remaining"
          [remainingPercantage]="item.remainingPercentage"
        />
        }
      </div>
    </div>
    <div class="bg-edit-input-color grow p-6 rounded-3xl shadow-lg h-96">
      <div class="flex items-center gap-2">
        <h2 class="text-xl font-medium">Recent Orders</h2>
        <div class="dropdown">
          <div
            tabindex="0"
            role="button"
            class="btn btn-circle btn-ghost btn-xs text-info"
          >
            <svg
              tabindex="0"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="size-fit stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </div>
          <div
            tabindex="0"
            class="card compact dropdown-content z-[1] shadow bg-white rounded-box w-64"
          >
            <div tabindex="0" class="card-body">
              <h2 class="card-title">You needed more info?</h2>
              <p>Check out your orders here!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 pt-4 h-full overflow-scroll">
        @for(order of (orders$ | async); track order?.orderItem?.id){
        <app-dashboard-orders
          [customerName]="order.orderItem.customerName"
          [customerAvatar]="order.orderItem.customerAvatar"
          [orderDate]="order.orderItem.date"
          [orderPrice]="order.productPrice"
          [orderName]="order.productName"
          [orderCurrency]="order.productCurrency"
          [userCurrency]="(userCurrency$ | async) ?? 'ZAR'"
          [conversionData]="conversionData$ | async"
        />
        }
      </div>
    </div>
    <div class="bg-edit-input-color grow p-6 rounded-3xl h-96 shadow-lg">
      <div class="flex items-center gap-2">
        <h2 class="text-xl font-medium">Top Products</h2>
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-circle btn-ghost btn-xs text-info"
          >
            <svg
              tabindex="0"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="size-fit stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </div>
          <div
            tabindex="0"
            class="card compact dropdown-content z-[1] shadow bg-white rounded-box w-64"
          >
            <div tabindex="0" class="card-body">
              <h2 class="card-title">You needed more info?</h2>
              <p>These products have been ordered the most!</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-full grid grid-cols-2 sm:grid-cols-3 gap-5 pt-4 pb-6 place-content-stretch"
      >
        @for(product of (topProducts$ | async); track product.product.id){
        <div
          class="min-w-32 min-h-32 rounded-lg place-self-stretch relative group cursor-pointer"
          (click)="routeToEdit(product.product)"
        >
          <div
            class="bg-black w-full h-full rounded-lg top-0 opacity-90 absolute z-10 justify-center items-center text-white text-lg hidden group-hover:flex ease-in"
          >
            {{ product.product.name }}
          </div>
          <img
            *ngIf="product.product.imageUrl"
            [src]="product.product.imageUrl"
            [alt]="product.product.name"
            class="size-full object-cover rounded-lg"
          />
          <img
            *ngIf="!product.product.imageUrl"
            [src]="'../../../assets/images/placeholderImage.webp'"
            [alt]="product.product.name"
            class="size-full object-cover"
          />
        </div>
        }
      </div>
    </div>
  </div>
  }
</section>
