<section
  class="flex flex-col items-start justify-between gap-4 w-full px-6 py-10"
>
  <p class="text-2xl font-semibold font-rubik text-nowrap">Dashboard</p>
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-10 w-full">
    <div class="flex flex-wrap gap-10 w-full xl:col-span-2">
      <app-summary
        class="grow"
        title="Products Sold"
        [count]="(orders$ | async)?.length ?? 0"
      />
      <app-summary
        class="grow"
        title="Revenue"
        [count]="(revenue$ | async) ?? 0"
      />
      <app-summary
        class="grow"
        title="Total Customers"
        [count]="(totalCustomers$ | async) ?? 0"
      />
      <app-summary
        class="grow"
        title="Total Quantity"
        [count]="(totalQuantity$ | async) ?? 0"
      />
    </div>
    <app-sales-chart />
    <div class="bg-edit-input-color p-6 rounded-3xl max-h-96 shadow-lg">
      <h2 class="text-xl font-medium">Stock Report</h2>
      <div class="flex flex-col gap-6 pt-4 w-full h-full overflow-scroll mb-2">
        @for(item of (stockReport$ | async); track item.product.id){

        <app-stock-item
          [productName]="item.product.name"
          [quantity]="item.product.quantity"
          [remaining]="item.remaining"
        />
        }
      </div>
    </div>
    <div class="bg-edit-input-color grow p-6 rounded-3xl shadow-lg">
      <h2 class="text-xl font-medium">Recent Orders</h2>
      <div class="flex flex-col gap-6 pt-4">
        @for(order of (orders$ | async); track order?.orderItem?.id){
        <app-dashboard-orders
          [customerName]="order.orderItem.customerName"
          [customerAvatar]="order.orderItem.customerAvatar"
          [orderDate]="order.orderItem.date"
          [orderPrice]="order.productPrice"
          [orderName]="order.productName"
          [orderCurrency]="order.productCurrency"
        />
        }
      </div>
    </div>
    <div class="bg-edit-input-color grow p-6 rounded-3xl shadow-lg">
      <h2 class="text-xl font-medium">Top Products</h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 gap-5 py-4">
        @for(product of (topProducts$ | async); track product.product.id){
        <img
          *ngIf="product.product.imageUrl"
          [src]="product.product.imageUrl"
          [alt]="product.product.name"
          class="min-w-32 min-h-32 object-cover rounded-lg place-self-stretch"
        />
        <img
          *ngIf="!product.product.imageUrl"
          [src]="'../../../assets/images/placeholderImage.webp'"
          [alt]="product.product.name"
          class="min-w-32 min-h-32 object-cover rounded-lg place-self-stretch"
        />
        }
      </div>
    </div>
  </div>
</section>
