<div
  (click)="onClick.emit(product)"
  class="p-5 w-full flex flex-col gap-5 bg-search-color rounded-2xl cursor-pointer hover:scale-105 shadow-lg"
>
  <img
    *ngIf="product?.product?.imageUrl"
    class="rounded-xl w-full h-44 object-cover"
    [src]="product?.product?.imageUrl"
    alt="Camera"
  />
  <img
    *ngIf="!product?.product?.imageUrl"
    class="rounded-xl w-full h-44 object-cover"
    src="../../../assets/images/placeholderImage.webp"
    alt="Camera"
  />
  <div class="flex flex-col gap-2">
    <h1 class="font-bold">{{ product?.product?.name }}</h1>
    @if(userCurrency){ @switch (product?.product?.currency) { @case ('EUR') {
    <p>
      {{
        product?.product?.price
          | currencyConversion : conversionData?.EUR?.value
          | currency : userCurrency : "symbol-narrow"
      }}
    </p>
    } @case ('ZAR') {
    <p>
      {{
        product?.product?.price
          | currencyConversion : conversionData?.ZAR?.value
          | currency : userCurrency : "symbol-narrow"
      }}
    </p>
    } @case ('GBP') {
    <p>
      {{
        product?.product?.price
          | currencyConversion : conversionData?.GBP?.value
          | currency : userCurrency : "symbol-narrow"
      }}
    </p>
    } @case ('USD') {
    <p *ngIf="product?.product?.currency === 'USD'">
      {{
        product?.product?.price
          | currencyConversion : conversionData?.USD?.value
          | currency : userCurrency : "symbol-narrow"
      }}
    </p>
    } } }
    <div class="flex justify-between pt-4">
      <p>
        Category <span class="font-bold">{{ product?.product?.category }}</span>
      </p>
      <p>
        Quantity <span class="font-bold">{{ product?.product?.quantity }}</span>
      </p>
    </div>
    <button
      class="btn bg-secondary-color rounded-3xl shadow-xl text-whiteSmoke mt-4"
      (click)="addToCartClick($event)"
    >
      Add to cart
      <ng-icon name="matShoppingCartOutline" class="text-2xl" />
    </button>
  </div>
</div>
