<div class="flex flex-col justify-between w-full sm:flex-row">
  <div class="flex gap-4">
    <img
      [src]="product?.imageUrl"
      [alt]="product?.name"
      class="w-20 h-20 object-cover rounded-lg"
    />
    <div class="flex flex-col gap-1">
      <h1 class="text-lg">{{ product?.name }}</h1>
      <div class="flex">
        @if(userCurrency){
        <p *ngIf="product?.currency === 'EUR'">
          {{
            getPrice(product?.price, conversionData?.EUR?.value)
              | currency : userCurrency : "symbol-narrow"
          }}
        </p>
        <p *ngIf="product?.currency === 'ZAR'">
          {{
            getPrice(product?.price, conversionData?.ZAR?.value)
              | currency : userCurrency : "symbol-narrow"
          }}
        </p>
        <p *ngIf="product?.currency === 'GBP'">
          {{
            getPrice(product?.price, conversionData?.GBP?.value)
              | currency : userCurrency : "symbol-narrow"
          }}
        </p>
        <p *ngIf="product?.currency === 'USD'">
          {{
            getPrice(product?.price, conversionData?.USD?.value)
              | currency : userCurrency : "symbol-narrow"
          }}
        </p>
        }
        <div class="divider divider-horizontal mx-1"></div>
        <p *ngIf="product?.quantity != 0" class="text-green">In Stock</p>
        <p *ngIf="product?.quantity == 0" class="text-red">Out of Stock</p>
      </div>
    </div>
  </div>
  <button
    class="btn btn-ghost font-normal w-fit flex justify-start p-0"
    (click)="onDelete.emit(product?.id)"
  >
    <ng-icon name="matDelete" />Delete
  </button>
</div>
