<div class="flex justify-between w-full">
  <div class="flex gap-4">
    <img
      [src]="product?.product?.imageUrl"
      [alt]="product?.product?.name"
      class="w-20 object-cover rounded-lg"
    />
    <div class="flex flex-col gap-1">
      <h1 class="text-lg">{{ product?.product?.name }}</h1>
      <div class="flex">
        <p>{{ product?.product?.price }}</p>
        <div class="divider divider-horizontal mx-1"></div>
        <p *ngIf="product?.product?.quantity" class="text-green">In Stock</p>
        <p *ngIf="!product?.product?.quantity" class="text-red">Out of Stock</p>
      </div>
    </div>
  </div>
  <button class="btn btn-ghost font-normal">
    <ng-icon name="matDelete" />Delete
  </button>
</div>
