<form
  *ngIf="editProductForm"
  [formGroup]="editProductForm"
  (ngSubmit)="confirmEdit()"
>
  <section class="flex justify-between gap-4 items-center w-full px-6 py-10">
    <h1 class="text-2xl font-semibold font-rubik text-nowrap">Edit Product</h1>
    <div class="flex gap-4">
      <button
        (click)="router.navigate(['home/admin-products'])"
        class="w-28 sm:w-32 btn btn-outline rounded-3xl border-2 shadow-lg"
      >
        Cancel
      </button>
      <button
        class="w-42 sm:w-52 lg:w-52 btn bg-secondary-color rounded-3xl shadow-xl text-whiteSmoke"
      >
        Confirm
        <span
          *ngIf="(isEditing$ | async) ?? false"
          class="loading loading-spinner loading-sm"
        ></span>
        <ng-icon
          *ngIf="(isEditing$ | async) === false"
          name="matCheck"
          class="text-2xl"
        />
      </button>
    </div>
  </section>
  <section class="px-6 pb-4 grid grid-cols-1 md:grid-cols-edit gap-5">
    <div
      class="p-5 bg-sidebar-item h-96 rounded-2xl flex flex-col justify-start gap-5 shadow-md"
    >
      <h2 class="text-base font-semibold">General Information</h2>
      <div class="flex flex-col gap-2">
        <p>Product Name</p>
        <input
          type="text"
          class="input bg-edit-input-color w-full border border-primary-color"
          formControlName="name"
        />
      </div>
      <div class="flex flex-col gap-2">
        <p>Product Description</p>
        <textarea
          row="5"
          class="input py-2 px-4 bg-edit-input-color w-full h-40 border border-primary-color"
          formControlName="description"
        ></textarea>
      </div>
    </div>
    <div
      class="py-5 px-7 bg-sidebar-item h-96 rounded-2xl flex flex-col gap-5 shadow-md"
    >
      <h2 class="text-base font-semibold">Upload Image</h2>
      <div *ngIf="!onImageEdit" class="indicator w-full">
        <span
          class="indicator-item badge bg-secondary-color flex justify-center items-center rounded-full w-9 h-9 p-1 cursor-pointer"
          (click)="onImageEdit = true"
          ><ng-icon name="matEdit" class="text-lg text-whiteSmoke"
        /></span>
        <img
          class="rounded-xl grid w-full h-56 object-cover place-items-center"
          [src]="(product$ | async)?.imageUrl"
          [alt]="(product$ | async)?.name"
        />
      </div>
      <div
        *ngIf="onImageEdit"
        class="indicator flex flex-col items-center justify-evenly gap-4 w-full"
      >
        <span
          class="indicator-item badge bg-secondary-color flex justify-center items-center rounded-full w-9 h-9 p-1 cursor-pointer"
          (click)="onImageEditRemoved()"
          ><ng-icon name="matClose" class="text-lg text-whiteSmoke"
        /></span>
        <label
          for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-52 border-2 border-secondary-color border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
        >
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg
              class="w-8 h-8 mb-4 text-primary-color dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold text-secondary-color"
                >Click to upload</span
              >
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">
              PNG, JPG or JEPG
            </p>
          </div>
          <input
            value=""
            id="dropzone-file"
            type="file"
            class="hidden"
            (change)="onFileSelected($event)"
            accept=".png, .jpg, .jpeg"
          />
        </label>
        <div
          *ngIf="selectedFile"
          class="w-full h-16 bg-secondary-color rounded-lg justify-between items-start opacity-45 flex py-2 px-3"
        >
          <div class="flex gap-2">
            <ng-icon name="matImage" class="text-lg text-whiteSmoke" />
            <div class="flex-col gap-1">
              <h3 class="text-whiteSmoke font-semibold line-clamp-1">
                {{ selectedFile.name }}
              </h3>
              <p class="text-whiteSmoke text-xs font-light">
                {{ selectedFile.size / 1000 }} kb
              </p>
            </div>
          </div>
          <ng-icon
            name="matClose"
            class="text-lg text-whiteSmoke justify-self-end cursor-pointer"
            (click)="selectedFile = undefined"
          />
        </div>
      </div>
    </div>
    <div
      class="p-5 bg-sidebar-item h-auto rounded-2xl flex flex-col justify-start gap-5 shadow-md"
    >
      <h2 class="text-base font-semibold">Pricing & Stock</h2>
      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col gap-2">
          <p>Price</p>
          <input
            type="number"
            name="price"
            [value]="(product$ | async)?.price"
            step="0.01"
            class="input bg-edit-input-color w-full border border-primary-color"
            formControlName="price"
          />
        </div>
        <div class="flex flex-col gap-2">
          <p>Quantity</p>
          <input
            type="number"
            name="quantity"
            [value]="(product$ | async)?.quantity"
            class="input bg-edit-input-color w-full border border-primary-color"
            formControlName="quantity"
          />
        </div>
        <div class="flex flex-col gap-2">
          <p>Currency</p>
          <select
            class="select select-bordered bg-edit-input-color w-full border border-primary-color"
            formControlName="currency"
          >
            <option selected value="ZAR">ZAR</option>
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
          </select>
        </div>
      </div>
    </div>
    <div
      class="p-5 flex flex-col gap-5 bg-sidebar-item h-auto rounded-2xl shadow-md"
    >
      <h2 class="text-base font-semibold">Category</h2>
      <div class="flex flex-col gap-2">
        <p>Category</p>
        <div
          class="h-12 rounded-lg py-2 px-3 text-base bg-edit-input-color w-full border border-primary-color"
        >
          {{ (product$ | async)?.category }}
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <p>Tags</p>
        <div class="indicator w-full">
          <span class="indicator-item text-red text-lg h-fit top-1">*</span>
          <input
            type="text"
            placeholder="Enter tag..."
            class="input bg-edit-input-color w-full border border-primary-color"
            formControlName="tag"
          />
        </div>
      </div>
      <button
        class="w-40 sm:w-44 btn bg-secondary-color rounded-3xl shadow-xl text-whiteSmoke"
        type="button"
        (click)="addTag()"
      >
        Add Tag
        <span
          *ngIf="isAddingTag$ | async"
          class="loading loading-spinner loading-sm"
        ></span>
        <ng-icon
          name="matPlus"
          class="text-2xl"
          *ngIf="!(isAddingTag$ | async)"
        />
      </button>
    </div>
  </section>
</form>
