<div class="flex flex-col justify-start h-full">
  <progress class="progress progress-accent w-full rounded-none"></progress>
  <div class="flex flex-col justify-center gap-4 items-center h-full w-full">
    <div class="logo flex items-center">
      <img class="w-8" src="../../../assets/images/logo.png" alt="" />
      <h1 class="text-2xl font-bold font-rubik-scribble text-secondary-color">
        <a routerLink="/home/admin-products">
          <img
            src="https://www.flaticon.com/free-icons/mobile-shopping"
            alt=""
          />
          Store<span class="text-primary-color">Hero</span>
        </a>
      </h1>
    </div>
    <p>Loading preview...</p>
  </div>
</div>
