<div
  (click)="onClick.emit(product?.product?.id)"
  class="p-5 w-full flex flex-col gap-5 bg-search-color rounded-2xl cursor-pointer hover:scale-105 shadow-lg"
>
  <img
    class="rounded-xl w-full h-44 object-cover"
    [src]="product?.product?.imageUrl"
    alt="Camera"
  />
  <div class="flex flex-col gap-2">
    <h1 class="font-bold">{{ product?.product?.name }}</h1>
    <p>{{ product?.product?.price }}</p>
    <div class="flex justify-between pt-4">
      <p>
        Category <span class="font-bold">{{ product?.product?.category }}</span>
      </p>
      <p>
        Quantity <span class="font-bold">{{ product?.product?.quantity }}</span>
      </p>
    </div>
  </div>
</div>
