<div class="drawer lg:drawer-open h-full">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div
    class="drawer-content flex flex-col items-center justify-start max-h-screen"
  >
    <!-- Page content here -->
    <header
      class="w-full py-3 px-8 flex justify-between lg:justify-end items-center shadow-md"
    >
      <label
        for="my-drawer-2"
        class="drawer-button lg:hidden flex gap-2 items-center"
        ><ng-icon name="matSegment" class="text-2xl" />
        <div class="flex items-center">
          <img class="w-8" src="../../../assets/images/logo.png" alt="" />
          <h1
            class="text-2xl font-bold font-rubik-scribble text-secondary-color"
          >
            <a routerLink="/home/admin-products">
              <img
                src="https://www.flaticon.com/free-icons/mobile-shopping"
                alt=""
              />
              Store<span class="text-primary-color">Hero</span>
            </a>
          </h1>
        </div></label
      >
      <div class="flex items-center gap-8">
        <ng-icon
          *ngIf="!(cartProducts$ | async)?.length"
          name="matShoppingCartOutline"
          class="text-2xl h-fit"
        />
        <div
          *ngIf="(cartProducts$ | async)?.length"
          class="dropdown dropdown-end h-5"
        >
          <div class="indicator w-fit" tabindex="0" role="button">
            <span
              class="indicator-item badge size-2 p-0 bg-primary-color absolute top-1 right-[0.30rem]"
            ></span>
            <ng-icon name="matShoppingCartOutline" class="text-2xl h-fit" />
          </div>
          <ul
            tabindex="0"
            class="dropdown-content z-[1] menu p-2 shadow bg-search-color rounded-box w-72 sm:w-[500px]"
          >
            <p class="text-xl font-normal px-2">Cart</p>
            <div class="divider mt-3 mb-1"></div>
            <div class="flex flex-col">
              @if((cartProducts$ | async); as products){ @for(product of
              products; track product.id){
              <app-cart-item
                (onDelete)="deleteProductFromCart($event)"
                [product]="product"
                class="p-2"
                [conversionData]="conversionData$ | async"
                [userCurrency]="userCurrency$ | async"
              />
              <div class="divider my-1"></div>
              } }
              <div class="flex justify-between px-2 py-8">
                <p class="font-medium">Subtotal</p>
                <p class="font-semibold" *ngIf="userCurrency$ | async">
                  {{
                    cartTotal$
                      | async
                      | currency : userCurrency : "symbol-narrow"
                  }}
                </p>
              </div>
              <button
                class="btn bg-secondary-color rounded-3xl shadow-xl w-40 text-whiteSmoke my-4 mx-2"
                (click)="checkout()"
              >
                Checkout
                <ng-icon
                  *ngIf="(isCheckingout$ | async) === false"
                  name="matShoppingCartCheckout"
                  class="text-2xl"
                />
                <span
                  *ngIf="(isCheckingout$ | async) ?? false"
                  class="loading loading-spinner loading-sm"
                ></span>
              </button>
            </div>
          </ul>
        </div>
        <div class="dropdown dropdown-hover dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="avatar bg-secondary-color w-12 h-12 hover:bg-secondary-color rounded-full text-whiteSmoke font-base flex justify-center items-center p-0"
          >
            @if(avatar){
            <img
              [src]="avatar"
              referrerpolicy="no-referrer"
              class="rounded-full w-full"
            />
            }@else{
            <p class="text-center text-lg h-fit w-fit">
              {{ email.charAt(0).toUpperCase() }}
            </p>
            }
          </div>
          <ul
            tabindex="0"
            class="dropdown-content z-[1] menu p-2 shadow bg-search-color rounded-box w-64 h-[330px]"
          >
            <li
              class="h-44 p-3 flex flex-col gap-1 justify-center items-center"
            >
              <div
                class="avatar w-20 h-20 bg-secondary-color rounded-full text-whiteSmoke flex justify-center items-center p-0"
              >
                @if(avatar){
                <img
                  [src]="avatar"
                  referrerpolicy="no-referrer"
                  class="rounded-full w-full"
                />
                }@else{
                <p class="text-center text-lg h-fit w-fit">
                  {{ email.charAt(0).toUpperCase() }}
                </p>
                }
              </div>
              <p class="font-medium text-center">
                {{ !displayName || displayName === "" ? email : displayName }}
              </p>
            </li>
            <li onclick="">
              <a routerLink="/all-products"
                ><ng-icon name="faEye" class="text-2xl" />Preview</a
              >
            </li>
            <li onclick="my_modal_2.showModal()">
              <a><ng-icon name="matSettings" class="text-2xl" />Settings</a>
            </li>
            <div class="divider h-fit m-1"></div>
            <li (click)="signOut()">
              <a><ng-icon name="matExitToApp" class="text-2xl" />Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main class="w-full h-full grow-0 overflow-scroll">
      <router-outlet />
    </main>
  </div>
  <div class="drawer-side h-full">
    <label
      for="my-drawer-2"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul
      class="menu flex flex-col gap-3 p-4 w-64 min-h-full bg-base-200 text-base-content bg-gradient-to-b from-secondary-color from-60% to-primary-color"
    >
      <!-- Sidebar content here -->
      <div class="flex items-center pt-2 pb-12">
        <img class="w-8" src="../../../assets/images/logo.png" alt="" />
        <h1 class="text-2xl font-bold font-rubik-scribble text-whiteSmoke">
          <a
            class="cursor-pointer text-whiteSmoke"
            routerLink="/home/admin-products"
          >
            <img
              src="https://www.flaticon.com/free-icons/mobile-shopping"
              alt=""
            />
            StoreHero
          </a>
        </h1>
      </div>
      <li
        class="text-base text-whiteSmoke hover:bg-sidebar-item hover:text-whiteSmoke rounded-xl font-rubik"
      >
        <a
          class="text-whiteSmoke"
          routerLink="dashboard"
          routerLinkActive="active-item"
          ><ng-icon name="matAdminPanelSettings" class="text-2xl" />
          Dashboard</a
        >
      </li>
      <li
        class="text-base text-whiteSmoke hover:bg-sidebar-item hover:text-whiteSmoke rounded-xl font-rubik"
      >
        <a
          class="text-whiteSmoke"
          routerLink="admin-products"
          routerLinkActive="active-item"
          ><ng-icon name="matAdminPanelSettings" class="text-2xl" />My
          Products</a
        >
      </li>
    </ul>
  </div>
  <dialog id="my_modal_2" class="modal">
    <div class="modal-box bg-search-color">
      <h3 class="font-bold text-lg">Select Currency</h3>
      <p class="py-4">Select your preffered currency below:</p>
      <select
        class="select w-full bg-edit-input-color"
        [formControl]="currency"
      >
        <option value="ZAR">ZAR - Rand</option>
        <option value="GBP">GBP - Pound Sterling</option>
        <option value="USD">USD - Us Dollars</option>
        <option value="EUR">EUR - Euro</option>
      </select>
      <div class="modal-action">
        <form method="dialog" class="flex gap-4">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn btn-outline rounded-3xl border-2 shadow-lg">
            Close
          </button>
          <button
            class="btn bg-secondary-color text-whiteSmoke rounded-3xl shadow-xl"
            (click)="onSelectUserCurrency()"
          >
            Confirm
            <ng-icon name="matCheck" class="text-2xl" />
          </button>
        </form>
      </div>
    </div>
  </dialog>
</div>
