<section class="w-full px-6 py-10 grid grid-cols-1 xl:grid-cols-2 gap-10">
  <img
    class="rounded-xl w-full h-[500px] object-cover"
    [src]="(product$ | async)?.product?.imageUrl"
    [alt]="(product$ | async)?.product?.name"
  />
  <div class="flex flex-col gap-5">
    <div>
      <h1 class="text-2xl font-medium">
        {{ (product$ | async)?.product?.name }}
      </h1>
      <p class="text-base">{{ (product$ | async)?.product?.category }}</p>
    </div>
    <p class="flex gap-2 items-center">
      Quantity
      <span class="font-medium border border-primary-color py-[1px] px-4">{{
        (product$ | async)?.product?.quantity
      }}</span>
    </p>
    <p class="text-lg font-semibold">
      R{{ (product$ | async)?.product?.price }}
    </p>
    <p class="line-clamp-6">
      {{ (product$ | async)?.product?.description }}
    </p>
    <div>
      @if((product$ | async)?.tags; as tags){
      <div class="flex flex-col gap-3">
        <p class="text-lg font-medium">Tags:</p>
        <div class="flex gap-2">
          @for(tag of tags; track tag.id){
          <div class="badge badge-outline cursor-pointer px-3 py-4 font-rubik">
            {{ tag.name }}
          </div>
          }
        </div>
      </div>
      }
    </div>
    <div class="flex gap-8">
      <a
        class="btn btn-outline w-44 rounded-3xl shadow-lg mt-4 justify-self-end"
        routerLink="/home/all-products"
      >
        Back
      </a>
      <button
        class="btn bg-secondary-color w-44 rounded-3xl shadow-xl text-whiteSmoke mt-4 justify-self-end"
        (click)="addProductToCart()"
      >
        Add to cart
        <ng-icon name="matShoppingCartOutline" class="text-2xl" />
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-4 w-full">
    <p class="text-lg">Related Products</p>
    <div class="flex w-full gap-5 overflow-auto">
      @for (image of images; track image) {
      <img
        class="rounded-xl w-32 h-32 object-cover"
        [src]="image"
        alt="Camera"
      />
      }
    </div>
  </div>
</section>
