<section class="flex justify-between gap-4 items-center w-full px-6 py-10">
  <h1 class="text-2xl font-semibold font-rubik text-nowrap">My Products</h1>
  <div class="flex">
    <label
      class="input input-bordered mr-0 w-32 sm:w-64 lg:w-80 xl:w-96 rounded-3xl bg-search-color flex items-center justify-between"
    >
      <input
        type="text"
        class="w-4/5"
        placeholder="Search..."
        (input)="onSearch($event)"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>
    <div class="divider divider-horizontal"></div>
    <button
      (click)="router.navigate(['home/add-product'])"
      class="w-28 sm:w-52 lg:w-52 btn bg-secondary-color text-whiteSmoke rounded-3xl shadow-xl"
    >
      Add <span class="hidden sm:block">Product</span>
      <ng-icon name="matPlus" class="text-2xl" />
    </button>
  </div>
</section>
<section class="px-6 py-4 h-auto">
  <div class="flex">
    <div
      class="flex items-center gap-4 font-rubik font-light text-nowrap overflow-auto"
    >
      @for (category of (categories$ | async); track category) { @if((filterBy$
      | async) === category.name){
      <div class="badge bg-primary-color text-black px-3 py-4 text">
        {{ category.name }}
      </div>
      }@else {
      <div (click)="setFilterBy(category.name)" class="cursor-pointer">
        {{ category.name }}
      </div>
      } }
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="dropdown">
      <div
        tabindex="0"
        role="button"
        class="btn btn-outline w-32 border-secondary-color rounded-xl"
      >
        Sort by <ng-icon name="matSort" class="text-2xl" />
      </div>
      <ul
        tabindex="0"
        class="dropdown-content z-[1] menu p-2 shadow bg-whiteSmoke rounded-box w-52"
      >
        <li (click)="setSortBy('price')">
          <a class="flex justify-between"
            >Price
            <span *ngIf="(sortBy$ | async) === 'price'"
              ><ng-icon name="matCheck" class="text-2xl" /></span
          ></a>
        </li>
        <li (click)="setSortBy('quantity')">
          <a class="flex justify-between"
            >Quantity
            <span *ngIf="(sortBy$ | async) === 'quantity'"
              ><ng-icon name="matCheck" class="text-2xl" /></span
          ></a>
        </li>
        <li (click)="setSortBy('name')">
          <a class="flex justify-between"
            >Name
            <span *ngIf="(sortBy$ | async) === 'name'"
              ><ng-icon name="matCheck" class="text-2xl" /></span
          ></a>
        </li>
      </ul>
    </div>
  </div>
  @if (!(myProducts$ | async)?.length){
  <div class="grow flex flex-col justify-center items-center h-56">
    <img src="../../../assets/images/noInfoFound.svg" alt="" class="w-20" />
    <p class="text-lg font-semibold">No products found</p>
  </div>
  } @else {
  <div
    class="py-8 grid gap-6 grid-cols-1 sm:grid-cols-2 min-[950px]:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 min-[1800px]:grid-cols-5 justify-items-center h-full overflow-hidden"
  >
    @for(product of (myProducts$ | async); track product){
    <app-product-card
      [product]="product"
      class="w-72"
      (editOnClick)="routeToEdit($event)"
      (deleteOnClick)="setProductToDelete($event)"
    />
    }
  </div>
  }
  <dialog id="my_modal_1" class="modal">
    <div class="modal-box bg-search-color">
      <h3 class="font-bold text-lg">Permantly Delete Product?</h3>
      <p class="py-4">
        Are you sure you want to permanently delete the product?
      </p>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn btn-outline rounded-3xl border-2 shadow-lg">
            Close
          </button>
          <button
            class="btn bg-red text-whiteSmoke rounded-3xl shadow-xl"
            (click)="deleteProduct()"
          >
            Delete
            <ng-icon name="matDelete" class="text-2xl" />
          </button>
        </form>
      </div>
    </div>
  </dialog>
</section>
