<header class="flex justify-between gap-4 items-center w-full px-8 py-10">
  <h1 class="text-2xl font-semibold font-rubik text-nowrap">My Products</h1>
  <div class="flex">
    <label
      class="input input-bordered mr-0 w-32 sm:w-64 lg:w-80 xl:w-96 rounded-3xl bg-search-color flex items-center justify-between"
    >
      <input type="text" class="w-4/5" placeholder="Search..." />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
    </label>
    <div class="divider divider-horizontal"></div>
    <button
      class="w-28 sm:w-52 lg:w-52 btn btn-outline rounded-3xl border-2 shadow-lg"
    >
      Add <span class="hidden sm:block">Product</span>
      <ng-icon name="matPlus" class="text-2xl" />
    </button>
  </div>
</header>
<main class="px-8 py-4">
  <div class="flex">
    <div class="flex items-center gap-4 font-rubik font-light text-nowrap overflow-auto">
      @for (tag of tags; track tag) { @if(currentTag === tag){
      <div class="badge bg-primary-color text-black px-3 py-4 text">
        {{ tag }}
      </div>
      }@else {
      <div (click)="currentTag = tag" class="cursor-pointer">{{ tag }}</div>
      } }
    </div>
    <div class="divider divider-horizontal"></div>
    <button class="btn btn-outline rounded-3xl">
      Sort by <ng-icon name="matSort" class="text-2xl" />
    </button>
  </div>
</main>
