<div
  id="signup"
  class="w-full h-full flex flex-col items-center justify-center py-20 gap-10"
>
  <h1 class="font-rubik font-extrabold text-2xl">Reset Password</h1>
  <form
    *ngIf="resetForm"
    [formGroup]="resetForm"
    (ngSubmit)="reset()"
    class="w-4/5 flex flex-col items-center gap-5"
  >
    <div class="flex flex-col w-full">
      <div
        class="tooltip tooltip-open tooltip-error"
        data-tip="Invalid Email Address"
        *ngIf="email?.invalid && email?.errors?.['email']"
      ></div>
      <label
        class="input input-bordered flex items-center gap-2 bg-transparent w-full"
      >
        <ng-icon name="matEmailOutline" class="text-xl" />
        <input
          type="text"
          class="grow"
          placeholder="Email"
          formControlName="email"
        />
      </label>
    </div>
    <button
      type="submit"
      name="Signup"
      class="btn rounded-xl w-full text-whiteSmoke bg-gradient-to-tr from-primary-color to-secondary-color"
    >
      <span
        *ngIf="(isLoading$ | async) ?? false"
        class="loading loading-spinner loading-sm"
      ></span>
      Send Email
    </button>
    <p class="font-semibold">
      Go back to <span class="text-blue" routerLink="/login"> Login</span>
    </p>
  </form>
</div>
